#idMain {
    display: flex;
    
}

#dom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.idBody {
    
    border: 2px solid black;
    margin:10px 5px;
    text-align: center;

    
}

.headerTitle {
    text-align: center;
    background-color: rgb(7, 7, 175);
    padding: 60px 50px;
    color: white;
    margin-top: 0;

}

#summit {
    align-items: center;
    display: flex;
    justify-content: center;
}

.headImage{
    width: 7.5rem;
    height: 8rem;
    margin: 0px 90px;
    border: 2.5px solid rgb(7, 7, 175);
    
}
.workerName{
    margin:5px auto;
    color:  rgb(7, 7, 175);
}

.staffPosition {
    color:  rgb(1, 1, 84);
    margin-top: 3px;
    margin-bottom: 30px;
    text-decoration: underline;
    text-underline-offset:10px; 
    text-decoration-thickness: 3px;
}

.lineBelow {

    background-color: rgb(7, 7, 175);
    padding: 8px 5px;
    margin-top: 19px !important;
    margin: 8px  auto;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    line-height: 5px;
}
