#idMain {
    display: flex;
    
}

#dom {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: co; */
    justify-content: center;
}

.idBody {
    
    border: 2px solid black;
    width: 300px;
    height: 250px;
    margin: 5px;
    
}

.headerTitle {
    text-align: center;
    background-color: blue;
}

#summit {
    align-items: center;
    display: flex;
    justify-content: center;
}